USE [master]
GO
/****** Object:  Database [RanShop]    Script Date: 10/6/2569 12:00:40 ******/
CREATE DATABASE [RanShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RanShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RanShop_Data.mdf' , SIZE = 52928KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RanShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RanShop_Log.ldf' , SIZE = 1964480KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RanShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RanShop]
GO
/****** Object:  User [user]    Script Date: 10/6/2569 12:00:40 ******/
CREATE USER [user] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ShopPurchase]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurchase](
	[PurKey] [bigint] IDENTITY(1,1) NOT NULL,
	[UserUID] [varchar](20) NOT NULL,
	[ProductNum] [int] NOT NULL,
	[PurPrice] [int] NOT NULL,
	[PurFlag] [int] NOT NULL,
	[PurDate] [datetime] NOT NULL,
	[PurChgDate] [datetime] NULL,
	[ItemMain] [int] NULL,
	[ItemSub] [int] NULL,
	[GiftedBy] [varchar](20) NULL,
 CONSTRAINT [PK_ShopPurchase] PRIMARY KEY CLUSTERED 
(
	[PurKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurFlag]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurFlag](
	[PurFlag] [int] NOT NULL,
	[PurFlagName] [varchar](20) NULL,
 CONSTRAINT [PK_ShopPurFlag] PRIMARY KEY CLUSTERED 
(
	[PurFlag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopItemMap]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopItemMap](
	[ProductNum] [int] IDENTITY(1,1) NOT NULL,
	[ItemMain] [int] NULL,
	[ItemSub] [int] NULL,
	[ItemName] [varchar](100) NULL,
	[ItemStock] [int] NOT NULL,
	[ItemPrice] [int] NULL,
	[ItemSection] [int] NOT NULL,
	[ItemCurrency] [int] NOT NULL,
	[ItemDiscount] [int] NOT NULL,
	[ItemList] [smallint] NULL,
	[Duration] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[ItemImage] [varchar](300) NULL,
	[ItemMoney] [int] NULL,
	[ItemComment] [varchar](50) NULL,
 CONSTRAINT [PK_ShopItemMap] PRIMARY KEY CLUSTERED 
(
	[ProductNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewShopPurchase]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------
-- viewShopPurchase
-------------------------------------------------------------------------------

CREATE VIEW [dbo].[viewShopPurchase]
AS
SELECT   dbo.ShopPurchase.PurKey, dbo.ShopPurchase.UserUID, 
         dbo.ShopPurchase.ProductNum, dbo.ShopPurchase.PurPrice, 
         dbo.ShopPurchase.PurFlag, dbo.ShopPurchase.PurDate, 
         dbo.ShopPurchase.PurChgDate, dbo.ShopItemMap.ItemMain, 
         dbo.ShopItemMap.ItemSub, dbo.ShopItemMap.ItemName, 
         dbo.ShopPurFlag.PurFlagName
FROM     dbo.ShopPurchase INNER JOIN
         dbo.ShopItemMap ON 
         dbo.ShopPurchase.ProductNum = dbo.ShopItemMap.ProductNum LEFT OUTER JOIN
         dbo.ShopPurFlag ON dbo.ShopPurchase.PurFlag = dbo.ShopPurFlag.PurFlag


GO
/****** Object:  View [dbo].[viewShopPurchaseItem]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------
-- view_ShopPurchaseItem.sql
-------------------------------------------------------------------------------

CREATE VIEW [dbo].[viewShopPurchaseItem]
AS
SELECT TOP 100 PERCENT SUM(A.PurPrice) AS tPrice, A.ItemMain, A.ItemSub, B.ItemName
FROM   dbo.viewShopPurchase A INNER JOIN
       dbo.ShopItemMap B ON A.ProductNum = B.ProductNum
GROUP BY A.ItemMain, A.ItemSub, B.ItemName
ORDER BY A.ItemMain, A.ItemSub


GO
/****** Object:  Table [dbo].[GameItemShop]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameItemShop](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[ProductNum] [int] NOT NULL,
	[ItemMain] [int] NOT NULL,
	[ItemSub] [int] NOT NULL,
	[ItemCategory] [int] NOT NULL,
	[ItemStock] [int] NOT NULL,
	[ItemMoney] [int] NOT NULL,
	[ItemName] [varchar](64) NOT NULL,
	[ShopType] [int] NOT NULL,
 CONSTRAINT [PK_GameItemShop] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GISPurchaseLog]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GISPurchaseLog](
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductNum] [int] NOT NULL,
	[ItemMain] [int] NOT NULL,
	[ItemSub] [int] NOT NULL,
	[ItemMoney] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GISPurchaseLog] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemGiftHistory]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemGiftHistory](
	[GiftID] [int] IDENTITY(1,1) NOT NULL,
	[UserUID] [varchar](20) NOT NULL,
	[GiftCategory] [varchar](10) NOT NULL,
	[EligibleAmt] [int] NOT NULL,
	[ProductNum] [int] NOT NULL,
	[GiftedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMallLogBuy]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMallLogBuy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[ProductNum] [varchar](50) NULL,
	[PremPoints] [varchar](50) NULL,
	[AfterPremPoints] [varchar](50) NULL,
	[VotePoints] [varchar](50) NULL,
	[AfterVotePoints] [varchar](50) NULL,
	[DateBought] [datetime] NULL,
	[GiftedTo] [varchar](50) NULL,
	[ItemDiscount] [int] NULL,
	[CurrencyType] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogShopPurchase]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogShopPurchase](
	[PurNum] [bigint] IDENTITY(1,1) NOT NULL,
	[PurKey] [varchar](21) NOT NULL,
	[PurFlag] [int] NULL,
	[PurDate] [datetime] NULL,
 CONSTRAINT [PK_LogShopPurchase] PRIMARY KEY CLUSTERED 
(
	[PurNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopUpHistory]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopUpHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserUID] [varchar](20) NOT NULL,
	[Amount] [int] NOT NULL,
	[CreditPoint] [int] NOT NULL,
	[TransactionID] [varchar](50) NULL,
	[PayDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LogShopPurchase_PurKey]    Script Date: 10/6/2569 12:00:40 ******/
CREATE NONCLUSTERED INDEX [IX_LogShopPurchase_PurKey] ON [dbo].[LogShopPurchase]
(
	[PurKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ProductNum]  DEFAULT ((0)) FOR [ProductNum]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ItemMain]  DEFAULT ((0)) FOR [ItemMain]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ItemSub]  DEFAULT ((0)) FOR [ItemSub]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ItemCategory]  DEFAULT ((0)) FOR [ItemCategory]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ItemStock]  DEFAULT ((0)) FOR [ItemStock]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_Table_1_ItemPrice]  DEFAULT ((0)) FOR [ItemMoney]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ItemName]  DEFAULT ('') FOR [ItemName]
GO
ALTER TABLE [dbo].[GameItemShop] ADD  CONSTRAINT [DF_GameItemShop_ShopType]  DEFAULT ((1)) FOR [ShopType]
GO
ALTER TABLE [dbo].[GISPurchaseLog] ADD  CONSTRAINT [DF_GISPurchaseLog_ProductNum]  DEFAULT ((0)) FOR [ProductNum]
GO
ALTER TABLE [dbo].[GISPurchaseLog] ADD  CONSTRAINT [DF_GISPurchaseLog_ItemMain]  DEFAULT ((0)) FOR [ItemMain]
GO
ALTER TABLE [dbo].[GISPurchaseLog] ADD  CONSTRAINT [DF_GISPurchaseLog_ItemSub]  DEFAULT ((0)) FOR [ItemSub]
GO
ALTER TABLE [dbo].[GISPurchaseLog] ADD  CONSTRAINT [DF_GISPurchaseLog_ItemMoney]  DEFAULT ((0)) FOR [ItemMoney]
GO
ALTER TABLE [dbo].[GISPurchaseLog] ADD  CONSTRAINT [DF_GISPurchaseLog_Data]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[GISPurchaseLog] ADD  CONSTRAINT [DF_GISPurchaseLog_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[ItemGiftHistory] ADD  DEFAULT (getdate()) FOR [GiftedAt]
GO
ALTER TABLE [dbo].[LogShopPurchase] ADD  CONSTRAINT [DF_LogShopPurchase_PurDate]  DEFAULT (getdate()) FOR [PurDate]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF__ShopItemM__ItemS__38996AB5]  DEFAULT ((0)) FOR [ItemStock]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemSection]  DEFAULT ((0)) FOR [ItemSection]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemCurrency]  DEFAULT ((0)) FOR [ItemCurrency]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemDiscount]  DEFAULT ((0)) FOR [ItemDiscount]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemList]  DEFAULT ((1)) FOR [ItemList]
GO
ALTER TABLE [dbo].[ShopPurchase] ADD  CONSTRAINT [DF_ShopPurchase_PurPrice]  DEFAULT ((0)) FOR [PurPrice]
GO
ALTER TABLE [dbo].[ShopPurchase] ADD  CONSTRAINT [DF_ShopPurchase_PurFlag]  DEFAULT ((0)) FOR [PurFlag]
GO
ALTER TABLE [dbo].[ShopPurchase] ADD  CONSTRAINT [DF_ShopPurchase_PurDate]  DEFAULT (getdate()) FOR [PurDate]
GO
ALTER TABLE [dbo].[TopUpHistory] ADD  DEFAULT (getdate()) FOR [PayDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_GISPurchase]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[sp_GISPurchase]
	@nIndex int,
	@nItemMID int,
	@nItemSID int,
	@nUserNum int,
	@UserId varchar(50),
	@nReturn int OUTPUT
AS	

DECLARE	
	@productNum int,
	@productStock int,
	@productType int,
	@productMoney int,
	@userNum int,
	@error_var int, -- Declare variables used in error checking.
	@rowcount_var int

SET NOCOUNT ON;

SELECT @productNum = ProductNum, @productStock = ItemStock, @productType = ShopType, @productMoney = ItemMoney
FROM GameItemShop (NOLOCK) 
WHERE idx = @nIndex and ItemMain = @nItemMID and ItemSub = @nItemSID --this should be enough of an identity

IF @error_var <> 0 OR @rowcount_var = 0
BEGIN
	SET @nReturn = 1 -- item not found
	SET NOCOUNT OFF
	RETURN @nReturn	
END

IF @productStock = 0
BEGIN
	SET @nReturn = 2 -- no stocks
	SET NOCOUNT OFF
	RETURN @nReturn	
END 


IF @productType = 0
BEGIN
	SET @nReturn = 3 -- product type is zero, not for purchase
	SET NOCOUNT OFF
	RETURN @nReturn	
END


--insert item
INSERT INTO ShopPurchase (UserUID, ProductNum, PurFlag, PurDate, PurChgDate, ItemMain, ItemSub )
VALUES( @UserId, @productNum, 0, GETDATE(), GETDATE(), @nItemMID, @nItemSID )

IF @@ERROR <> 0 
BEGIN 
	SET @nReturn = -1 --insert failed
	SET NOCOUNT OFF
	RETURN @nReturn	
END

--update stocks
UPDATE GameItemShop
SET ItemStock = ItemStock - 1
WHERE idx = @nIndex


--log
INSERT INTO GISPurchaseLog (ProductNum, ItemMain, ItemSub, ItemMoney, UserID)
VALUES( @productNum, @nItemMID, @nItemSID, @productMoney, @UserId )


SET @nReturn = 0 -- all goods
SET NOCOUNT OFF;
RETURN @nReturn

 
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertItem]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_InsertItem]
	@PurKey	varchar(100),
	@UserId varchar(50),
	@MID int,
	@SID int,
	@nReturn int OUTPUT
AS	
/*
Created by PrinceOfPersia
August 8, 2011
*/
DECLARE	@productNum int;

SET NOCOUNT ON;
	
BEGIN TRAN	

SET @nReturn = -1;
	
SELECT @productNum  = ProductNum FROM ShopItemMap (NOLOCK) 
WHERE ItemMain = @MID and ItemSub = @SID;

INSERT INTO ShopPurchase 
(
UserUID,
ProductNum,
PurFlag,
PurDate,
PurChgDate
)
VALUES
(
@UserId,
@productNum,
0,
GETDATE(),
GETDATE()
)

IF @@ERROR = 0 
	BEGIN 
		COMMIT TRAN;
		SET @nReturn = 0;
	END

SET NOCOUNT OFF;

RETURN @nReturn


GO
/****** Object:  StoredProcedure [dbo].[sp_ItemMallBuy]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ItemMallBuy]
	@nProductNum	int,
	@nPrice			int,
	@nType			int,
	@UserID			varchar(25),
	@bGift			int,
	@GiftUserId		varchar(25),
	@nReturn		int OUTPUT
AS	
	DECLARE
		@UserName varchar(50),
		@CurrencyType int,
		@nUserNum int,
		@ItemPrice int,
		@EPoint int,
		@GPoint int,
		@nUserID varchar(25),
		@nItemDiscount int,
		@DiscountedPrice int

	SET NOCOUNT ON;

	SET @nReturn = -1

	SELECT @nUserNum = UserNum , @UserName = UserName , @EPoint = UserPoint
	From RanUser.dbo.UserInfo 
	where UserName = @UserID

	IF  @nUserNum != 0 
	BEGIN
		Select @nUserID=UserID from RanGame1.[dbo].ChaInfo tab1
		join RanUser.[dbo].UserInfo tab2 on tab1.UserNum = tab2.UserNum WHERE tab1.ChaNum=@GiftUserId

		SELECT @CurrencyType=ItemCurrency , @ItemPrice=ItemPrice, @nItemDiscount=ItemDiscount
		FROM ShopItemMap 
		WHERE ProductNum=@nProductNum


		IF @CurrencyType = 0 
		BEGIN
			IF @EPoint !< 0
			BEGIN
				IF @nItemDiscount > 0
				BEGIN
					IF @EPoint >= @ItemPrice - ((@ItemPrice*@nItemDiscount)/100)
					BEGIN
						UPDATE RanUser.dbo.UserInfo SET UserPoint = UserPoint - (@ItemPrice - (@ItemPrice*@nItemDiscount)/100) Where UserID = @UserId
						UPDATE ShopItemMap SET Itemstock = Itemstock - 1 WHERE ProductNum=@nProductNum
						
						IF @bGift = 1
						BEGIN
							INSERT INTO ShopPurchase(
								UserUID,
								ProductNum,
								PurFlag,
								PurDate,
								PurChgDate,
								GiftedBy
							) VALUES (
								@nUserID,
								@nProductNum,
								0,
								GETDATE(),
								GETDATE(),
								@UserName
							)

							INSERT INTO ItemMallLogBuy(
								UserID,
								ProductNum,
								PremPoints,
								AfterPremPoints,
								VotePoints,
								AfterVotePoints,
								DateBought,
								GiftedTo,
								ItemDiscount,
								CurrencyType
							) VALUES (
								@UserName,
								@nProductNum,
								@EPoint,
								@EPoint - @ItemPrice - ((@ItemPrice*@nItemDiscount)/100),
								@GPoint,
								@GPoint,
								GETDATE(),
								@nUserID,
								@nItemDiscount,
								@CurrencyType

							)
						END
						ELSE
						BEGIN
							INSERT INTO ShopPurchase(
								UserUID,
								ProductNum,
								PurFlag,
								PurDate,
								PurChgDate
							) VALUES (
								@UserName,
								@nProductNum,
								0,
								GETDATE(),
								GETDATE()
							)

							INSERT INTO ItemMallLogBuy(
								UserID,
								ProductNum,
								PremPoints,
								AfterPremPoints,
								VotePoints,
								AfterVotePoints,
								DateBought,
								CurrencyType
							) VALUES (
								@UserName,
								@nProductNum,
								@EPoint,
								@EPoint - @ItemPrice,
								@GPoint,
								@GPoint,
								GETDATE(),
								@CurrencyType
							)
						END

						SET @nReturn = 1;
						RETURN @nReturn;
					END
					ELSE 
					BEGIN
						SET @nReturn = -1;
						RETURN @nReturn;
					END
				END
				ELSE
				BEGIN
					IF @EPoint >= @ItemPrice
					BEGIN
						UPDATE RanUser.dbo.UserInfo SET UserPoint = UserPoint - @ItemPrice Where UserID = @UserId
						UPDATE ShopItemMap SET Itemstock = Itemstock - 1 WHERE ProductNum=@nProductNum

						IF @bGift = 1
						BEGIN
							INSERT INTO ShopPurchase(
								UserUID,
								ProductNum,
								PurFlag,
								PurDate,
								PurChgDate,
								GiftedBy
							) VALUES (
								@nUserID,
								@nProductNum,
								0,
								GETDATE(),
								GETDATE(),
								@UserName
							)

							INSERT INTO ItemMallLogBuy(
								UserID,
								ProductNum,
								PremPoints,
								AfterPremPoints,
								VotePoints,
								AfterVotePoints,
								DateBought,
								GiftedTo,
								ItemDiscount,
								CurrencyType
							) VALUES (
								@UserName,
								@nProductNum,
								@EPoint,
								@EPoint-@ItemPrice,
								@GPoint,
								@GPoint,
								GETDATE(),
								@nUserID,
								@nItemDiscount,
								@CurrencyType

							)
						END
						ELSE
						BEGIN
							INSERT INTO ShopPurchase(
								UserUID,
								ProductNum,
								PurFlag,
								PurDate,
								PurChgDate
							) VALUES (
								@UserName,
								@nProductNum,
								0,
								GETDATE(),
								GETDATE()
							)

							INSERT INTO ItemMallLogBuy(
								UserID,
								ProductNum,
								PremPoints,
								AfterPremPoints,
								VotePoints,
								AfterVotePoints,
								DateBought,
								CurrencyType
							) VALUES (
								@UserName,
								@nProductNum,
								@EPoint,
								@EPoint-@ItemPrice,
								@GPoint,
								@GPoint,
								GETDATE(),
								@CurrencyType
							)
						END
						
						SET @nReturn = 1;
						RETURN @nReturn;
					END
					ELSE 
					BEGIN
						SET @nReturn = 0;
						RETURN @nReturn;
					END
				END
			END
		END
		ELSE IF @CurrencyType = 1 
		BEGIN
			if @bGift = 1 
				begin
					SET @nReturn = -1;
				RETURN @nReturn;
			END
			UPDATE ShopItemMap SET Itemstock = Itemstock - 1 WHERE ProductNum=@nProductNum	
					
			INSERT INTO ShopPurchase(
				UserUID,
				ProductNum,
				PurFlag,
				PurDate,
				PurChgDate
			) VALUES (
				@UserName,
				@nProductNum,
				0,
				GETDATE(),
				GETDATE()
			)

			INSERT INTO ItemMallLogBuy(
				UserID,
				ProductNum,
				PremPoints,
				AfterPremPoints,
				VotePoints,
				AfterVotePoints,
				DateBought,
				CurrencyType
			) VALUES (
				@UserName,
				@nProductNum,
				@EPoint,
				@EPoint,
				@GPoint,
				@GPoint,
				GETDATE(),
				@CurrencyType
			)

			SET @nReturn = 1;
			RETURN @nReturn;
		END
		ELSE IF @CurrencyType = 2 
		BEGIN
			if @bGift = 0
				begin
					SET @nReturn = -1;
				RETURN @nReturn;
			END
			UPDATE ShopItemMap SET Itemstock = Itemstock - 1 WHERE ProductNum=@nProductNum	
					
			INSERT INTO ShopPurchase(
				UserUID,
				ProductNum,
				PurFlag,
				PurDate,
				PurChgDate,
				GiftedBy
			) VALUES (
				@nUserID,
				@nProductNum,
				0,
				GETDATE(),
				GETDATE(),
				@UserName
			)

			INSERT INTO ItemMallLogBuy(
				UserID,
				ProductNum,
				PremPoints,
				AfterPremPoints,
				VotePoints,
				AfterVotePoints,
				DateBought,
				GiftedTo,
				ItemDiscount,
				CurrencyType
			) VALUES (
				@UserName,
				@nProductNum,
				@EPoint,
				@EPoint-@ItemPrice,
				@GPoint,
				@GPoint,
				GETDATE(),
				@nUserID,
				@nItemDiscount,
				@CurrencyType

			)

			SET @nReturn = 1;
			RETURN @nReturn;
		END
		ELSE 
		BEGIN
			SET @nReturn = 0;
			RETURN @nReturn;
		END
	END
	ELSE BEGIN
		SET @nReturn = 0;
		RETURN @nReturn;
	END

	SET NOCOUNT OFF;

	RETURN @nReturn








GO
/****** Object:  StoredProcedure [dbo].[sp_purchase_change_state]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_purchase_change_state]
	@purkey varchar(22),
    @purflag int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int, -- Declare variables used in error checking.
		@rowcount_var int,
		@nFlag int

	SET NOCOUNT ON
	
	SET @nFlag = 0
	
	SELECT @nFlag=PurFlag 
	FROM ShopPurchase 
	WHERE PurKey=@purkey
	
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    SET @nReturn = 0
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	-- 官操妨绰 内靛客 泅犁 内靛啊 鞍篮 版快 俊矾
	IF @nFlag = @purflag
	BEGIN
	    SET @nReturn = 0
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	-- 沥犬窍霸 官曹荐 乐绰 版快
    UPDATE ShopPurchase
    SET PurFlag=@purflag, PurChgDate=getdate() 
    WHERE PurKey=@purkey

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    -- 角菩
	    SET @nReturn = 0
	END
    ELSE
    BEGIN
	    -- 己傍
	    INSERT INTO LogShopPurchase (PurKey, PurFlag) 
	    VALUES (@purkey, @purflag)
	    SET @nReturn = 1
    END

	SET NOCOUNT OFF

	RETURN @nReturn

GO
/****** Object:  StoredProcedure [dbo].[sp_purchase_insert_item]    Script Date: 10/6/2569 12:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_purchase_insert_item]
	@purkey varchar(22),
	@useruid varchar(30),
    @productnum int,
    @purprice int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int -- Declare variables used in error checking.

	SET NOCOUNT ON

	INSERT INTO ShopPurchase (PurKey, UserUID, ProductNum, PurPrice) 
	VALUES (@purkey, @useruid, @productnum, @purprice)

	SELECT @error_var = @@ERROR
	IF @error_var <> 0 
	BEGIN
	    -- 火涝角菩
	    SET @nReturn = 0	    
	END
        ELSE
        BEGIN
	    -- 沥惑利栏肺 火涝 己傍
	    SET @nReturn = 1
        END

	SET NOCOUNT OFF

	RETURN @nReturn	

GO
USE [master]
GO
